
<div class="row clearfix">
    <div class="col-md-6 column">
        <dl>
            <dt>
                Description lists
            </dt>
            <dd>
                A description list is perfect for defining terms.
            </dd>
        </dl>
    </div>
    <div class="col-md-2 column">
        <ul>
            <li>
                one
            </li>
            <li>
                two
            </li>
            <li>
                three
            </li>

        </ul>
    </div>
    <div class="col-md-2 column">
        <ul>
            <li>
                uno
            </li>
            <li>
                due
            </li>
            <li>
                tre
            </li>
        </ul>
    </div>
    <div class="col-md-2 column">
        <ul>
            <li>
                une
            </li>
            <li>
                deux
            </li>
            <li>
                trois
            </li>
        </ul>
    </div>
</div>
