
<div class="row clearfix">
    <div class="col-md-6 column">
        <dl>
            <dt>
                Description lists
            </dt>
            <dd>
                A description list is perfect for defining terms.
            </dd>
        </dl>
    </div>
    <div class="col-md-2 column">
        <ul>
            <li>
                amet
            </li>
            <li>
                elit
            </li>
            <li>
                massa
            </li>

        </ul>
    </div>
    <div class="col-md-2 column">
        <ul>
            <li>
                Lorem
            </li>
            <li>
                Consectetur
            </li>
            <li>
                Integer
            </li>
        </ul>
    </div>
    <div class="col-md-2 column">
        <ul>
            <li>
                Lorem
            </li>
            <li>
                Consectetur
            </li>
            <li>
                Integer
            </li>
        </ul>
    </div>
</div>
