
<div id="footer" class="row clearfix">
    <div class="col-md-8 column" id="footer-description">
        <p class="text-center">
             <em>Maffee Lab</em> is a Experimental Environment, powered by <strong>Ma Xiaohang</strong> , used for new ideas & advanced tech-trying.
        </p>
    </div>

    <div class="col-md-2 column">
        <ul>
            <li>
                uno
            </li>
            <li>
                due
            </li>
        </ul>
    </div>
    <div class="col-md-2 column">
        <ul>
            <li>
                une
            </li>
            <li>
                deux
            </li>
        </ul>
    </div>
</div>
