<!--呼伦贝尔-->
<div class="panel-group blocklist" id="panel-blocklist">
    <div class="blocklist-heading-Area">
        <span id="Demo_Area_Hulbr" class="glyphicon glyphicon-eye-open" onclick="" style="cursor: pointer"></span>
        呼伦贝尔农垦
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#listBar"
              data-target="#panel-element-demo-Hulbr"  style="float: right;cursor: pointer"></span>
    </div>
    <!--地块列表|呼伦贝尔-->
    <div id="panel-element-demo-Hulbr" class="panel-collapse collapse">
        <div class="blocklist-heading" >
            <span id="Demo_Area_Hulbr_A" class="glyphicon glyphicon-map-marker" onclick=""></span>
            <span id="Demo_Area_Hulbr_A_outline">呼伦贝尔农垦地块A</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Hulbr_A" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Hulbr_A" class="panel-collapse collapse">
            <div id="Demo_Comprt_Hulbr_A_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Hulbr_A_01_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划01|农场A
            </div>
            <div id="Demo_Comprt_Hulbr_A_02" class="Blockname panel-body">
                <span id="Demo_Comprt_Hulbr_A_02_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划02|农场B
            </div>
        </div>
        <div class="blocklist-heading">
            <span id="Demo_Area_Hulbr_B" class="glyphicon glyphicon-map-marker" onclick=""></span>
            <span id="Demo_Area_Hulbr_B_outline">呼伦贝尔农垦地块B</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Hulbr_B" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Hulbr_B" class="panel-collapse collapse">
            <div id="Demo_Comprt_Hulbr_B_03" class="Blockname panel-body">
                <span id="Demo_Comprt_Hulbr_B_03_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划03|农场C
            </div>
            <div id="Demo_Comprt_Hulbr_B_04" class="Blockname panel-body">
                <span id="Demo_Comprt_Hulbr_B_04_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划04|农场D
            </div>
        </div>
    </div>
</div>

<!--重庆-->
<div class="panel-group blocklist" id="panel-blocklist">
    <div class="blocklist-heading-Area">
        <span id="Demo_Area_Chongqing" class="glyphicon glyphicon-eye-open" onclick="" style="cursor: pointer"></span>
        重庆市林业防治
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#listBar"
              data-target="#panel-element-demo-Chongqing" style="float: right;cursor: pointer"></span>
    </div>
    <!--地块列表|重庆1-5块-->
    <div id="panel-element-demo-Chongqing" class="panel-collapse collapse">
        <div class="blocklist-heading">
            <span id="Demo_Area_Chongqing_A" class="glyphicon glyphicon-tree-conifer" onclick=""></span>
            <span id="Demo_Area_Chongqing_A_outline">A</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Chongqing_A" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Chongqing_A" class="panel-collapse collapse">
            <div id="Demo_Comprt_Chongqing_A_00" class="Blockname panel-body" >
                <span id="Demo_Comprt_Chongqing_A_01_loc" class="glyphicon glyphicon-leaf" style="cursor: pointer"></span>
                示例区
            </div>
            <div id="Demo_Comprt_Chongqing_A_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Chongqing_A_02_loc" class="glyphicon glyphicon-info-sign" style="cursor: pointer"></span>
                功能
            </div>
        </div>

            <div class="blocklist-heading">
            <span id="Demo_Area_Chongqing_B" class="glyphicon glyphicon-tree-conifer" onclick=""></span>
            <span id="Demo_Area_Chongqing_B_outline">B</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Chongqing_B" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Chongqing_B" class="panel-collapse collapse">
            <div id="Demo_Comprt_Chongqing_B_00" class="Blockname panel-body" >
                <span id="Demo_Comprt_Chongqing_B_01_loc" class="glyphicon glyphicon-leaf" style="cursor: pointer"></span>
                示例区
            </div>
            <div id="Demo_Comprt_Chongqing_B_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Chongqing_B_02_loc" class="glyphicon glyphicon-info-sign" style="cursor: pointer"></span>
                功能
            </div>
        </div>

            <div class="blocklist-heading">
            <span id="Demo_Area_Chongqing_C" class="glyphicon glyphicon-tree-conifer" onclick=""></span>
            <span id="Demo_Area_Chongqing_C_outline">C</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Chongqing_C" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Chongqing_C" class="panel-collapse collapse">
            <div id="Demo_Comprt_Chongqing_C_00" class="Blockname panel-body" >
                <span id="Demo_Comprt_Chongqing_C_01_loc" class="glyphicon glyphicon-leaf" style="cursor: pointer"></span>
                示例区
            </div>
            <div id="Demo_Comprt_Chongqing_C_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Chongqing_C_02_loc" class="glyphicon glyphicon-info-sign" style="cursor: pointer"></span>
                功能
            </div>
        </div>
    </div>


</div>

<!--大连-->
<div class="panel-group blocklist" id="panel-blocklist">
    <div class="blocklist-heading-Area">
        <span id="Demo_Area_Dalian" class="glyphicon glyphicon-eye-open" onclick="" style="cursor: pointer"></span>
        大连市林业防治
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#listBar"
              data-target="#panel-element-demo-Dalian"  style="float: right;cursor: pointer"></span>
    </div>
    <!--地块列表|大连1-6块-->
    <div id="panel-element-demo-Dalian" class="panel-collapse collapse">
        <div class="blocklist-heading">
            <span id="Demo_Area_Dalian_P" class="glyphicon glyphicon-plane" onclick=""></span>
            <span id="Demo_Area_Dalian_P_outline">大连机场</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Dalian_P" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Dalian_P" class="panel-collapse collapse">
            <div id="Demo_Comprt_Dalian_P_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Dalian_P_01_alt" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                净空区范围
            </div>
            <div id="Demo_Comprt_Dalian_P_02" class="Blockname panel-body" >
                <span id="Demo_Comprt_Dalian_P_02_alt" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                立方体显示
            </div>
        </div>
        <div class="blocklist-heading">
            <span id="Demo_Area_Dalian_A" class="glyphicon glyphicon-plane" onclick=""></span>
            <span id="Demo_Area_Dalian_A_outline">金普新区</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Dalian_A" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Dalian_A" class="panel-collapse collapse">
            <div id="Demo_Comprt_Dalian_A_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Dalian_A_01_alt" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                500米高度平面
            </div>
            <div id="Demo_Comprt_Dalian_A_02" class="Blockname panel-body" >
                <span id="Demo_Comprt_Dalian_A_02_alt" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                800米高度平面
            </div>
        </div>

        <div class="blocklist-heading">
            <span id="Demo_Area_Dalian_B" class="glyphicon glyphicon-plane" onclick=""></span>
            <span id="Demo_Area_Dalian_B_outline">主城区</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Dalian_B" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Dalian_B" class="panel-collapse collapse">
            <div id="Demo_Comprt_Dalian_B_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Dalian_B_01_alt" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                海拔500米平面
            </div>
        </div>

        <div class="blocklist-heading">
            <span id="Demo_Area_Dalian_C" class="glyphicon glyphicon-plane" onclick=""></span>
            <span id="Demo_Area_Dalian_C_outline">甘井子区</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Dalian_C" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Dalian_C" class="panel-collapse collapse">
            <div id="Demo_Comprt_Dalian_C_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Dalian_C_01_alt" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                海拔500米平面
            </div>
        </div>

        <div class="blocklist-heading">
            <span id="Demo_Area_Dalian_D" class="glyphicon glyphicon-plane" onclick=""></span>
            <span id="Demo_Area_Dalian_D_outline">高新技术园区</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Dalian_D" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Dalian_D" class="panel-collapse collapse">
            <div id="Demo_Comprt_Dalian_D_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Dalian_D_01_alt" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                海拔500米平面
            </div>
        </div>

        <div class="blocklist-heading">
            <span id="Demo_Area_Dalian_E" class="glyphicon glyphicon-plane" onclick=""></span>
            <span id="Demo_Area_Dalian_E_outline">旅顺口区</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Dalian_E" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Dalian_E" class="panel-collapse collapse">
            <div id="Demo_Comprt_Dalian_E_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Dalian_E_01_alt" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                海拔500米平面
            </div>
        </div>

        <div class="blocklist-heading">
            <span id="Demo_Area_Dalian_F" class="glyphicon glyphicon-plane" onclick=""></span>
            <span id="Demo_Area_Dalian_F_outline">长海县</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Dalian_F" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Dalian_F" class="panel-collapse collapse">
            <div id="Demo_Comprt_Dalian_F_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Dalian_F_01_alt" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                岛群1
            </div>
            <div id="Demo_Comprt_Dalian_F_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Dalian_F_02_alt" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                岛群2
            </div>
            <div id="Demo_Comprt_Dalian_F_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Dalian_F_03_alt" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                岛群3
            </div>
            <div id="Demo_Comprt_Dalian_F_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Dalian_F_04_alt" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                岛群4
            </div>
        </div>

    </div>
</div>

<!--青岛-->
<div class="panel-group blocklist" id="panel-blocklist">
    <div class="blocklist-heading-Area">
        <span id="Demo_Area_Qingdao" class="glyphicon glyphicon-eye-open" onclick="" style="cursor: pointer"></span>
        青岛市林业防治
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#listBar"
              data-target="#panel-element-demo-Qingdao"  style="float: right;cursor: pointer"></span>
    </div>
    <!--地块列表|青岛-->
    <div id="panel-element-demo-Qingdao" class="panel-collapse collapse">
        <div class="blocklist-heading">
            <span id="Demo_Area_Qingdao_A" class="glyphicon glyphicon-plane" onclick=""></span>
            <span id="Demo_Area_Qingdao_A_outline">崂山区</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Qingdao_A" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Qingdao_A" class="panel-collapse collapse">
            <div id="Demo_Comprt_Qingdao_A_00" class="Blockname panel-body" >
                <span id="Demo_Comprt_Qingdao_A_00_loc" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                600米高度平面
            </div>
            <div id="Demo_Comprt_Qingdao_A_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Qingdao_A_01_loc" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                800米高度平面
            </div>
        </div>

        <div class="blocklist-heading">
            <span id="Demo_Area_Qingdao_C" class="glyphicon glyphicon-plane" onclick=""></span>
            <span id="Demo_Area_Qingdao_C_outline">城阳区</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Qingdao_C" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Qingdao_C" class="panel-collapse collapse">
            <div id="Demo_Comprt_Qingdao_C_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Qingdao_C_01_loc" class="glyphicon glyphicon-exclamation-sign" style="cursor: pointer"></span>
                与崂山区共同规划航线
            </div>
        </div>

        <div class="blocklist-heading">
            <span id="Demo_Area_Qingdao_D" class="glyphicon glyphicon-plane" onclick=""></span>
            <span id="Demo_Area_Qingdao_D_outline">黄岛区</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Qingdao_D" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Qingdao_D" class="panel-collapse collapse">
            <div id="Demo_Comprt_Qingdao_D_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Qingdao_D_00_loc" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                海拔650米平面
            </div>
            <div id="Demo_Comprt_Qingdao_D_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Qingdao_D_01_loc" class="glyphicon glyphicon-send" style="cursor: pointer"></span>
                海拔800米平面
            </div>
        </div>

        <div class="blocklist-heading">
            <span id="Demo_Area_Qingdao_E" class="glyphicon glyphicon-plane" onclick=""></span>
            <span id="Demo_Area_Qingdao_E_outline">即墨市</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Qingdao_E" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Qingdao_E" class="panel-collapse collapse">
            <div id="Demo_Comprt_Qingdao_E_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Qingdao_E_01_loc" class="glyphicon glyphicon-exclamation-sign" style="cursor: pointer"></span>
                最高海拔不超过300米
            </div>
        </div>
    </div>
</div>

<!--博罗-->
<div class="panel-group blocklist" id="panel-blocklist">
    <div class="blocklist-heading-Area">
        <span id="Demo_Area_Boluo" class="glyphicon glyphicon-eye-open" onclick="" style="cursor: pointer"></span>
        博罗县罗阳镇
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#listBar"
              data-target="#panel-element-demo-Boluo"  style="float: right;cursor: pointer"></span>
    </div>
    <!--地块列表|博罗县罗阳镇细1-9块-->
    <div id="panel-element-demo-Boluo" class="panel-collapse collapse">
        <div class="blocklist-heading">
            <span id="Demo_Area_Boluo_A" class="glyphicon glyphicon-tree-conifer" onclick=""></span>
            <span id="Demo_Area_Boluo_A_outline">博罗县罗阳镇地块A</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Boluo_A" style="float: right" ></span>

        </div>
        <div id="panel-element-demo-Boluo_A" class="panel-collapse collapse">
            <div id="Demo_Comprt_Boluo_A_01" class="Blockname panel-body ">
                <span id="Demo_Comprt_Boluo_A_01_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划01
            </div>
            <div id="Demo_Comprt_Boluo_A_02" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_A_02_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划02
            </div>
            <div id="Demo_Comprt_Boluo_A_03" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_A_03_loc" class="glyphicon glyphicon-map-marker"  style="cursor: pointer"></span>
                区划03
            </div>
            <div id="Demo_Comprt_Boluo_A_04" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_A_04_loc" class="glyphicon glyphicon-map-marker"  style="cursor: pointer"></span>
                区划04
            </div>
            <div id="Demo_Comprt_Boluo_A_06" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_A_05_loc" class="glyphicon glyphicon-map-marker"  style="cursor: pointer"></span>
                区划05
            </div>
            <div id="Demo_Comprt_Boluo_A_06" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_A_06_loc" class="glyphicon glyphicon-map-marker"  style="cursor: pointer"></span>
                区划06
            </div>
            <div id="Demo_Comprt_Boluo_A_07" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_A_07_loc" class="glyphicon glyphicon-map-marker"  style="cursor: pointer"></span>
                区划07
            </div>

        </div>

        <!--地块列表|博罗县罗阳镇细2-3块-->
        <div class="blocklist-heading">
            <span id="Demo_Area_Boluo_B" class="glyphicon glyphicon-tree-conifer" onclick=""></span>
            <span id="Demo_Area_Boluo_B_outline">博罗县罗阳镇地块B</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Boluo_B" style="float: right" ></span>
        </div>
        <div id="panel-element-demo-Boluo_B" class="panel-collapse collapse">
            <div id="Demo_Comprt_Boluo_B_01" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_B_01_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划51
            </div>
            <div id="Demo_Comprt_Boluo_B_02" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_B_02_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划52
            </div>
            <div id="Demo_Comprt_Boluo_B_03" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_B_03_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划53
            </div>
            <div id="Demo_Comprt_Boluo_B_04" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_B_04_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划54
            </div>
            <div id="Demo_Comprt_Boluo_B_05" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_B_05_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划05|55
            </div>

        </div>

        <!--地块列表|博罗县罗阳镇细3-4块-->
        <div class="blocklist-heading">
            <span id="Demo_Area_Boluo_C" class="glyphicon glyphicon-tree-conifer" onclick=""></span>
            <span id="Demo_Area_Boluo_C_outline">博罗县罗阳镇地块C</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Boluo_C" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Boluo_C" class="panel-collapse collapse">
            <div id="Demo_Comprt_Boluo_C_01" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_C_01_loc"  class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划71
            </div>
            <div id="Demo_Comprt_Boluo_C_02" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_C_02_loc"  class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划72
            </div>
            <div id="Demo_Comprt_Boluo_C_03" class="Blockname panel-body">
                <span id="Demo_Comprt_Boluo_C_03_loc"  class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划73
            </div>
        </div>
    </div>
</div>

<!--赵光-->
<div class="panel-group blocklist" id="panel-blocklist">
    <div class="blocklist-heading-Area">
        <span id="Demo_Area_Zhaoguang" class="glyphicon glyphicon-eye-open" onclick="" style="cursor: pointer"></span>
        赵光农垦
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#listBar"
              data-target="#panel-element-demo-Zhaoguang"  style="float: right;cursor: pointer"></span>
    </div>
    <!--地块列表|赵光农场1-5块-->
    <div id="panel-element-demo-Zhaoguang" class="panel-collapse collapse">
        <div class="blocklist-heading">
            <span id="Demo_Area_Zhaoguang_A" class="glyphicon glyphicon-map-marker" onclick=""></span>
            <span id="Demo_Area_Zhaoguang_A_outline">赵光农垦地块A</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Zhaoguang_A" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Zhaoguang_A" class="panel-collapse collapse">
            <div id="Demo_Comprt_Zhaoguang_A_01" class="Blockname panel-body">
                <span id="Demo_Comprt_Zhaoguang_A_01_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划01|东区第一大队
            </div>
            <div id="Demo_Comprt_Zhaoguang_A_02" class="Blockname panel-body">
                <span id="Demo_Comprt_Zhaoguang_A_02_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划02|东区第二大队
            </div>
            <div id="Demo_Comprt_Zhaoguang_A_03" class="Blockname panel-body">
                <span id="Demo_Comprt_Zhaoguang_A_03_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划03|东区第三大队
            </div>
            <div id="Demo_Comprt_Zhaoguang_A_04" class="Blockname panel-body">
                <span id="Demo_Comprt_Zhaoguang_A_04_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划04|东区第四大队
            </div>
            <div id="Demo_Comprt_Zhaoguang_A_05" class="Blockname panel-body">
                <span id="Demo_Comprt_Zhaoguang_A_05_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划05|东区第五大队
            </div>
        </div>

            <!--地块列表|赵光农场1-5块-->
        <div class="blocklist-heading">
            <span id="Demo_Area_Zhaoguang_B" class="glyphicon glyphicon-map-marker" onclick=""></span>
            <span id="Demo_Area_Zhaoguang_B_outline">赵光农垦地块B</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Zhaoguang_B" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Zhaoguang_B" class="panel-collapse collapse">
            <div id="Demo_Comprt_Zhaoguang_B_01" class="Blockname panel-body">
                <span id="Demo_Comprt_Zhaoguang_B_01_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划01|西区第一大队
            </div>
            <div id="Demo_Comprt_Zhaoguang_B_02" class="Blockname panel-body">
                <span id="Demo_Comprt_Zhaoguang_B_02_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划02|西区第二大队
            </div>
            <div id="Demo_Comprt_Zhaoguang_B_03" class="Blockname panel-body">
                <span id="Demo_Comprt_Zhaoguang_B_03_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划03|西区第三大队
            </div>

        </div>
    </div>
</div>

<!--新疆-->
<div class="panel-group blocklist" id="panel-blocklist">
    <div class="blocklist-heading-Area">
        <span id="Demo_Area_Xinjiang" class="glyphicon glyphicon-eye-open" onclick="" style="cursor: pointer"></span>
        新疆农垦
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#listBar"
              data-target="#panel-element-demo-Xinjiang"  style="float: right;cursor: pointer"></span>
    </div>
    <!--地块列表|新疆农垦-4块-->
    <div id="panel-element-demo-Xinjiang" class="panel-collapse collapse">
        <div class="blocklist-heading">
            <span id="Demo_Area_Xinjiang_A" class="glyphicon glyphicon-map-marker" onclick=""></span>
            <span id="Demo_Area_Xinjiang_A_outline">新疆农垦地块A</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Xinjiang_A" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Xinjiang_A" class="panel-collapse collapse">
            <div id="Demo_Comprt_Xinjiang_A_01" class="Blockname panel-body">
                <span id="Demo_Comprt_Xinjiang_A_01_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划01|东区
            </div>
            <div id="Demo_Comprt_Xinjiang_A_02" class="Blockname panel-body">
                <span id="Demo_Comprt_Xinjiang_A_02_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划02|西区
            </div>
            <div id="Demo_Comprt_Xinjiang_A_03" class="Blockname panel-body">
                <span id="Demo_Comprt_Xinjiang_A_03_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划03|北区
            </div>
        </div>
    </div>
</div>

<!--张家口-->
<div class="panel-group blocklist" id="panel-blocklist">
    <div class="blocklist-heading-Area">
        <span id="Demo_Area_Zhangjk" class="glyphicon glyphicon-eye-open" onclick="" style="cursor: pointer"></span>
        张家口市崇礼县
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#listBar"
              data-target="#panel-element-demo-Zhangjk"  style="float: right;cursor: pointer"></span>
    </div>
    <!--地块列表|张家口1-4块-->
    <div id="panel-element-demo-Zhangjk" class="panel-collapse collapse">
        <div class="blocklist-heading">
            <span id="Demo_Area_Zhangjk_A" class="glyphicon glyphicon-map-marker" onclick=""></span>
            <span id="Demo_Area_Zhangjk_A_outline">张家口市崇礼县地块A</span>
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
                  data-target="#panel-element-demo-Zhangjk_A" style="float: right"></span>
        </div>
        <div id="panel-element-demo-Zhangjk_A" class="panel-collapse collapse">
            <div id="Demo_Comprt_Zhangjk_A_01" class="Blockname panel-body" >
                <span id="Demo_Comprt_Zhangjk_A_01_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划01|北山林区
            </div>
            <div id="Demo_Comprt_Zhangjk_A_02" class="Blockname panel-body">
                <span id="Demo_Comprt_Zhangjk_A_02_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划02|东山林区
            </div>
            <div id="Demo_Comprt_Zhangjk_A_03" class="Blockname panel-body">
                <span id="Demo_Comprt_Zhangjk_A_03_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划03|南山林区
            </div>
            <div id="Demo_Comprt_Zhangjk_A_04" class="Blockname panel-body">
                <span id="Demo_Comprt_Zhangjk_A_04_loc" class="glyphicon glyphicon-map-marker" style="cursor: pointer"></span>
                区划04|西山林区
            </div>
        </div>
    </div>
</div>