
<div class="panel-group blocklist" id="panel-blocklist">
    <div class="blocklist-heading-Area">
        <span id="Demo_Area_Boluo" class="glyphicon glyphicon-eye-open" onclick="" style="cursor: pointer"></span>
        博罗县罗阳镇
    </div>
    <!--地块列表|博罗县罗阳镇细1-9块-->
    <div class="blocklist-heading">
        <span id="Demo_Area_Boluo_A" class="glyphicon glyphicon-map-marker" onclick=""></span>
        博罗县罗阳镇地块A
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
              data-target="#panel-element-demo-Boluo-A" style="float: right" ></span>

    </div>
    <div id="panel-element-demo-Boluo-A" class="panel-collapse collapse">
        <div id="Demo_Comprt_Boluo_A_01" class="Blockname panel-body "
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','地块A','区划01')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="show_hd('/static/img/alphapic/nc1.png','A01')" style="cursor: pointer"></span>
            区划01|01小班
        </div>
        <div id="Demo_Comprt_Boluo_A_02" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','地块A','区划02')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="show_hd('/static/img/alphapic/ndvi1.png','A02')" style="cursor: pointer"></span>
            区划02|02小班
        </div>
        <div id="Demo_Comprt_Boluo_A_03" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','地块A','区划03')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="show_hd('/static/img/alphapic/nc2.png','A03')" style="cursor: pointer"></span>
            区划03|03小班
        </div>
        <div id="Demo_Comprt_Boluo_A_04" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','地块A','区划04')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('博罗县罗阳镇','地块A','区划04')" style="cursor: pointer"></span>
            区划04|04小班
        </div>
        <div id="Demo_Comprt_Boluo_A_06" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','地块A','区划05')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('博罗县罗阳镇','地块A','区划05')" style="cursor: pointer"></span>
            区划05|05小班
        </div>
        <div id="Demo_Comprt_Boluo_A_06" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','地块A','区划06')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('博罗县罗阳镇','地块A','区划06')" style="cursor: pointer"></span>
            区划06|06小班
        </div>
        <div id="Demo_Comprt_Boluo_A_07" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','地块A','区划07')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="show_hd('/static/img/alphapic/nc3.png','A07')" style="cursor: pointer"></span>
            区划07|07小班
        </div>
        <div id="Demo_Comprt_Boluo_A_08" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','地块A','区划08')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('博罗县罗阳镇','地块A','区划08')" style="cursor: pointer"></span>
            区划08|08小班
        </div>
        <div id="Demo_Comprt_Boluo_A_09" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','地块A','区划09')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="show_hd('/static/img/alphapic/ndvi2.png','A09')" style="cursor: pointer"></span>
            区划09|09小班
        </div>
        <div id="Demo_Comprt_Boluo_A_10" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','地块A','10')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('博罗县罗阳镇','地块A','区划10')" style="cursor: pointer"></span>
            区划10|10小班
        </div>
    </div>

    <!--地块列表|博罗县罗阳镇细2-3块-->
    <div class="blocklist-heading">
        <span id="Demo_Area_Boluo_B" class="glyphicon glyphicon-map-marker" onclick=""></span>
        博罗县罗阳镇地块B
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
              data-target="#panel-element-demo-Boluo-B" style="float: right" ></span>
    </div>
    <div id="panel-element-demo-Boluo-B" class="panel-collapse collapse">
        <div id="Demo_Comprt_Boluo_B_01" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','B','区划01')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="show_hd('/static/img/alphapic/nc4.png','B01')" style="cursor: pointer"></span>
            区划01|51小班
        </div>
        <div id="Demo_Comprt_Boluo_B_02" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','B','区划02')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="show_hd('/static/img/alphapic/ndvi3.png','B02')" style="cursor: pointer"></span>
            区划02|52小班
        </div>
        <div id="Demo_Comprt_Boluo_B_03" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','B','区划03')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('博罗县罗阳镇','B','区划03')" style="cursor: pointer"></span>
            区划03|53小班
        </div>
    </div>

    <!--地块列表|博罗县罗阳镇细3-4块-->
    <div class="blocklist-heading">
        <span id="Demo_Area_Boluo_C" class="glyphicon glyphicon-map-marker" onclick=""></span>
        博罗县罗阳镇地块C
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
              data-target="#panel-element-demo-Boluo-C" style="float: right"></span>
    </div>
    <div id="panel-element-demo-Boluo-C" class="panel-collapse collapse">
        <div id="Demo_Comprt_Boluo_C_01" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','C','区划01')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="show_hd('/static/img/alphapic/nc5.png','C01')" style="cursor: pointer"></span>
            区划01|71小班
        </div>
        <div id="Demo_Comprt_Boluo_C_02" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','C','区划02')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="show_hd('/static/img/alphapic/ndvi4.png','C02')" style="cursor: pointer"></span>
            区划02|72小班
        </div>
        <div id="Demo_Comprt_Boluo_C_03" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('博罗县罗阳镇','C','区划03')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="show_hd('/static/img/alphapic/nc6.png','C03')" style="cursor: pointer"></span>
            区划03|73小班
        </div>
    </div>
</div>


<div class="panel-group blocklist" id="panel-blocklist">
    <div class="blocklist-heading-Area">
        <span id="Demo_Area_Zhangjk" class="glyphicon glyphicon-eye-open" onclick="" style="cursor: pointer"></span>
        张家口市崇礼县
    </div>
    <!--地块列表|张家口1-4块-->
    <div class="blocklist-heading">
        <span id="Demo_Area_Zhangjk_A" class="glyphicon glyphicon-map-marker" onclick=""></span>
        张家口市崇礼县地块A
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
              data-target="#panel-element-demo-Zhangjk-A" style="float: right"></span>
    </div>
    <div id="panel-element-demo-Zhangjk-A" class="panel-collapse collapse">
        <div id="Demo_Comprt_Zhangjk_A_01" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('张家口市崇礼县','A','区划01')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('张家口市崇礼县','A','区划01')" style="cursor: pointer"></span>
            区划01|北山林区
        </div>
        <div id="Demo_Comprt_Zhangjk_A_02" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('张家口市崇礼县','A','区划02')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('张家口市崇礼县','A','区划02')" style="cursor: pointer"></span>
            区划02|东山林区
        </div>
        <div id="Demo_Comprt_Zhangjk_A_03" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('张家口市崇礼县','A','区划03')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('张家口市崇礼县','A','区划03')" style="cursor: pointer"></span>
            区划03|南山林区
        </div>
        <div id="Demo_Comprt_Zhangjk_A_04" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('张家口市崇礼县','A','区划04')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('张家口市崇礼县','A','区划04')" style="cursor: pointer"></span>
            区划04|西山林区
        </div>
    </div>
</div>

<div class="panel-group blocklist" id="panel-blocklist">
    <div class="blocklist-heading-Area">
        <span id="Demo_Area_Zhaoguang" class="glyphicon glyphicon-eye-open" onclick="" style="cursor: pointer"></span>
        赵光农场
    </div>
    <!--地块列表|赵光农场1-5块-->
    <div class="blocklist-heading">
        <span id="Demo_Area_Zhaoguang_A" class="glyphicon glyphicon-map-marker" onclick=""></span>
        赵光农场地块A
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
              data-target="#panel-element-demo-Zhaoguang-A" style="float: right"></span>
    </div>
    <div id="panel-element-demo-Zhaoguang-A" class="panel-collapse collapse">
        <div id="Demo_Comprt_Zhaoguang_A_01" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('赵光农场','A','区划01')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('赵光农场','A','区划01')" style="cursor: pointer"></span>
            区划01|东区第一大队
        </div>
        <div id="Demo_Comprt_Zhaoguang_A_02" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('赵光农场','A','区划02')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('赵光农场','A','区划02')" style="cursor: pointer"></span>
            区划02|东区第二大队
        </div>
        <div id="Demo_Comprt_Zhaoguang_A_03" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('赵光农场','A','区划03')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('赵光农场','A','区划03')" style="cursor: pointer"></span>
            区划03|东区第三大队
        </div>
        <div id="Demo_Comprt_Zhaoguang_A_04" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('赵光农场','A','区划04')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('赵光农场','A','区划04')" style="cursor: pointer"></span>
            区划04|东区第四大队
        </div>
        <div id="Demo_Comprt_Zhaoguang_A_05" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('赵光农场','A','区划05')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('赵光农场','A','区划05')" style="cursor: pointer"></span>
            区划05|东区第五大队
        </div>
    </div>

        <!--地块列表|赵光农场1-5块-->
    <div class="blocklist-heading">
        <span id="Demo_Area_Zhaoguang_B" class="glyphicon glyphicon-map-marker" onclick=""></span>
        赵光农场地块B
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
              data-target="#panel-element-demo-Zhaoguang-B" style="float: right"></span>
    </div>
    <div id="panel-element-demo-Zhaoguang-B" class="panel-collapse collapse">
        <div id="Demo_Comprt_Zhaoguang_B_01" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('赵光农场','B','区划01')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('赵光农场','B','区划01')" style="cursor: pointer"></span>
            区划01|西区第一大队
        </div>
        <div id="Demo_Comprt_Zhaoguang_B_02" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('赵光农场','B','区划02')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('赵光农场','B','区划02')" style="cursor: pointer"></span>
            区划02|西区第二大队
        </div>
        <div id="Demo_Comprt_Zhaoguang_B_03" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('赵光农场','B','区划03')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('赵光农场','B','区划03')" style="cursor: pointer"></span>
            区划03|西区第三大队
        </div>

    </div>

</div>

<div class="panel-group blocklist" id="panel-blocklist">
    <div class="blocklist-heading-Area">
        <span id="Demo_Area_Xinjiang" class="glyphicon glyphicon-eye-open" onclick="" style="cursor: pointer"></span>
        新疆农垦
    </div>
    <!--地块列表|新疆农垦-4块-->
    <div class="blocklist-heading">
        <span id="Demo_Area_Xinjiang_A" class="glyphicon glyphicon-map-marker" onclick=""></span>
        新疆农垦地块A
        <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" data-parent="#panel-blocklist"
              data-target="#panel-element-demo-Xinjiang-A" style="float: right"></span>
    </div>
    <div id="panel-element-demo-Xinjiang-A" class="panel-collapse collapse">
        <div id="Demo_Comprt_Xinjiang_A_01" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('新疆农垦','A','区划01')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('新疆农垦','A','区划01')" style="cursor: pointer"></span>
            区划01|东区
        </div>
        <div id="Demo_Comprt_Xinjiang_A_02" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('新疆农垦','A','区划02')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('新疆农垦','A','区划02')" style="cursor: pointer"></span>
            区划02|西区
        </div>
        <div id="Demo_Comprt_Xinjiang_A_03" class="Blockname panel-body"
             onmouseover="add_OutlineOverlay_Demo_Block('新疆农垦','A','区划03')" onmouseout="remove_OutlineOverlay()">
            <span class="glyphicon glyphicon-map-marker" onclick="Demo_focus_Comprt('新疆农垦','A','区划03')" style="cursor: pointer"></span>
            区划03|北区
        </div>
    </div>
</div>