<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>MArcGIS DEMO</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />




    <link rel="stylesheet" href="https://js.arcgis.com/4.1/esri/css/main.css">
    <script src="https://js.arcgis.com/4.1/"></script>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    require([
      "esri/Map",
      "esri/views/SceneView",
      "esri/views/MapView",
      "esri/core/watchUtils",
      "dojo/dom",
      "dojo/promise/all",
      "dojo/domReady!"
    ], function InitMap(Map, SceneView, MapView, watchUtils, dom, all)
    {

      // Create a Map with a basemap, to be used with in the main view
      var mainMap = new Map({
        basemap: "hybrid",
        ground: "world-elevation"
      });

      // Create another Map, to be used in the overview "view"
      var overviewMap = new Map({
        basemap: "streets"
      });

      // Create the SceneView
      var mainView = new SceneView({
        container: "viewDiv",
        map: mainMap
      });

      mainView.then(function() {
        mainView.goTo({
          center: [114.2, 23.1],
          scale: 20000,
          heading: 0,
          tilt: 75
        }, {
          animate: false
        });
      });

      // Create the MapView for overview map
      var mapView = new MapView({
        container: "overviewDiv",
        map: overviewMap
      });

      // Remove the default widgets
      mapView.ui.components = [];

      var extentDiv = dom.byId("extentDiv");

      mapView.then(function() {
        // Update the overview extent whenever the MapView or SceneView extent changes
        mainView.watch("extent", updateOverviewExtent);
        mapView.watch("extent", updateOverviewExtent);

        // Update the minimap overview when the main view becomes stationary
        watchUtils.when(mainView, "stationary", updateOverview);

        function updateOverview() {
          // Animate the MapView to a zoomed-out scale so we get a nice overview.
          // We use the "progress" callback of the goTo promise to update
          // the overview extent while animating
          mapView.goTo({
            center: mainView.center,
            scale: mainView.scale * 2 * Math.max(mainView.width /
              mapView.width,
              mainView.height / mapView.height)
          });
        }

        function updateOverviewExtent() {
          // Update the overview extent by converting the SceneView extent to the
          // MapView screen coordinates and updating the extentDiv position.
          var extent = mainView.extent;

          var bottomLeft = mapView.toScreen(extent.xmin, extent.ymin);
          var topRight = mapView.toScreen(extent.xmax, extent.ymax);

          extentDiv.style.top = topRight.y + "px";
          extentDiv.style.left = bottomLeft.x + "px";

          extentDiv.style.height = (bottomLeft.y - topRight.y) + "px";
          extentDiv.style.width = (topRight.x - bottomLeft.x) + "px";
        }
      });
    });

    $(document).ready(function(){
        $("#optionToggle").click(function(){
            $("#optionBar").toggle();
            $(this).toggleClass("ToggleLogoLayer");
            if($(".esri-ui-corner").css("left") == "270px"){
                //alert($(".esri-ui-corner").css("left"));
                $(".esri-ui-corner").css({"left":"0"});
                $("#overviewDiv").css({"left":"12px"});
            }
            else {
                //alert($(".esri-ui-corner").css("left"));
                $(".esri-ui-corner").css({"left":"270px"});
                $("#overviewDiv").css({"left":"282px"});
            }

        });
    });
    $(document).ready(function(){
        $("#listToggle").click(function(){
            $("#listBar").toggle();
            $(this).toggleClass("ToggleLogoEtc");

        });
    });


    $(function () { $('#collapseOption').collapse('toggle')});
    </script>




</head>

<body>
    <div id="viewDiv">
    </div>
    <div id="optionDiv">
        <div id="optionBar" >

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOption">
                            点击
                        </a>
                    </div>
                    <div id="collapseOption" class="panel-collapse collapse">
                        <div class="panel-body">
                            info
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="optionToggle" class="ToggleLogoleftArrow">

        </div>
    </div>
    <div id="overviewDiv">
        <div id="extentDiv"></div>
    </div>
    <div id="listDiv">
        <div id="listBar">

        </div>
        <div id="listToggle" class="ToggleLogorightArrow"></div>
    </div>

</body>
</html>