<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>MArcGIS DEMO</title>



    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/demo-option.js' %}"></script>
    <script src="{% static 'js/demo-jquery.js' %}"></script>
    <script src="{% static 'js/demo-blockfunc.js' %}"></script>
    <script src="{% static 'js/demo-jquery-ui.js' %}"></script>

    <link rel="stylesheet" href="https://js.arcgis.com/4.3/esri/css/main.css">
    <script src="https://js.arcgis.com/4.3/"></script>

    <script type="text/javascript">
    require([
        "esri/Map",
        "esri/views/SceneView",
        "esri/views/MapView",

        "esri/Graphic",
        "esri/geometry/Point",
        "esri/symbols/SimpleMarkerSymbol",
        "esri/geometry/Polyline",
        "esri/symbols/SimpleLineSymbol",
        "esri/geometry/Polygon",
        "esri/symbols/SimpleFillSymbol",

        "esri/core/watchUtils",
        "esri/widgets/Expand",
        "esri/widgets/BasemapGallery",

        "dojo/dom",
        "dojo/query",
        "dojo/on",
        "dojo/promise/all",
        "dojo/domReady!"

    ], function (Map, SceneView, MapView,
                 Graphic, Point, SimpleMarkerSymbol, Polyline, SimpleLineSymbol, Polygon, SimpleFillSymbol,
                 watchUtils, Expand, BasemapGallery,
                 dom, query, on, all)
    {

        // Create a Map with a basemap, to be used with in the main view
        var mainMap = new Map({
            basemap: "hybrid",
            ground: "world-elevation"
        });

        // Create another Map, to be used in the overview "view"
        var overviewMap = new Map({
            basemap: "streets"
        });

        // Create the SceneView
        var mainView = new SceneView({
            container: "viewDiv",
            map: mainMap,
            camera: {
                position: {
                    x: 107,
                    y: 21,
                    z: 9000000
                },
                tilt: 10,
                heading: 0
            }

        });


        // 1-1.Create a point
        var areapoint_BL = new Point(
                {longitude: 114.1970, latitude: 23.1257}
        );
        var areapoint_ZJK = new Point(
                {longitude: 114.92658, latitude: 40.81462}
        );
        var areapoint_ZG = new Point(
                {longitude: 126.72743, latitude: 48.05202}
        );
        var areapoint_XJ = new Point(
                {longitude: 87.30802, latitude: 43.90181}
        );
        // 1-2.Create a symbol for drawing the point
        var markerSymbol = new SimpleMarkerSymbol({
            color: [226, 119, 40],
            outline: {
                color: [255, 255, 255],
                width: 1
            }
        });
        // 1-3.Create a graphic and add the geometry and symbol to it
        var pointGraphic_BL = new Graphic({
            geometry: areapoint_BL,
            symbol: markerSymbol
        });
        var pointGraphic_ZJK = new Graphic({
            geometry: areapoint_ZJK,
            symbol: markerSymbol
        });
        var pointGraphic_ZG = new Graphic({
            geometry: areapoint_ZG,
            symbol: markerSymbol
        });
        var pointGraphic_XJ = new Graphic({
            geometry: areapoint_XJ,
            symbol: markerSymbol
        });

        /*
            Area Outline
         */

        // 3-1.Create a polygon geometry
        var BL_N = 23.130875645889883;
        var BL_S = 23.121166927809885;
        var BL_E = 114.20237471986587;
        var BL_W = 114.19187761906588;
        var area_BL = [[BL_W, BL_N],[BL_E, BL_N], [BL_E, BL_S],[BL_W, BL_S]];

        var A_BL_W = 114.19187761906588,A_BL_E = 114.19893,A_BL_N = 23.130875645889883,A_BL_S = 23.12645;
        var A_lng_diff = A_BL_E - A_BL_W;
        var A_lng1 = A_BL_W;
        var A_lng2 = A_BL_W + A_lng_diff/4;
        var A_lng3 = A_BL_W + A_lng_diff/2;
        var A_lng4 = A_BL_E - A_lng_diff/4;
        var A_lng5 = A_BL_E;
        var A_lat_diff = A_BL_N - A_BL_S;
        var A_lat1 = A_BL_N;
        var A_lat2 = A_BL_N - A_lat_diff/3;
        var A_lat3 = A_BL_S + A_lat_diff/3;
        var A_lat4 = A_BL_S;
        var block_BL_A = [[A_BL_W, A_BL_N],[A_BL_E, A_BL_N], [A_BL_E, A_BL_S],[A_BL_W, A_BL_S]];
        var p_BL_A =[
            [(A_lng2+A_lng3)/2,(A_lat2+A_lat3)/2],
            [A_lng1,A_lat1],[A_lng2,A_lat1],[A_lng3,A_lat1],[A_lng4,A_lat1],
            [A_lng5,A_lat1],[A_lng1,A_lat2],[A_lng2,A_lat2],[A_lng3,A_lat2],
            [A_lng4,A_lat2],[A_lng5,A_lat2],[A_lng1,A_lat3],[A_lng2,A_lat3],
            [A_lng3,A_lat3],[A_lng1,A_lat4],[A_lng2,A_lat4],[A_lng5,A_lat4]
        ];
        var Comprt_BL_A =[
            [p_BL_A[1],p_BL_A[2],p_BL_A[7],p_BL_A[6]],
            [p_BL_A[2],p_BL_A[3],p_BL_A[8],p_BL_A[7]],
            [p_BL_A[3],p_BL_A[4],p_BL_A[9],p_BL_A[8]],
            [p_BL_A[4],p_BL_A[5],p_BL_A[9]],
            [p_BL_A[6],p_BL_A[7],p_BL_A[12],p_BL_A[11]],
            [p_BL_A[7],p_BL_A[8],p_BL_A[12]],
            [p_BL_A[11],p_BL_A[12],p_BL_A[14]]
        ];

        var B_BL_W = 114.19814,B_BL_E = 114.20238,B_BL_N = 23.12593 ,B_BL_S = 23.12119;
        var B_lng_diff = B_BL_E - B_BL_W;
        var B_lng1 = B_BL_W;
        var B_lng2 = B_BL_W + B_lng_diff/2;
        var B_lng3 = B_BL_E;
        var B_lat_diff = B_BL_N - B_BL_S;
        var B_lat1 = B_BL_N;
        var B_lat2 = B_BL_N - B_lat_diff/3;
        var B_lat3 = B_BL_S + B_lat_diff/3;
        var B_lat4 = B_BL_S;
        var block_BL_B = [[B_BL_W, B_BL_N],[B_BL_E, B_BL_N], [B_BL_E, B_BL_S],[B_BL_W, B_BL_S]];
		var p_BL_B =[
			[],
			[B_lng1,B_lat1],[B_lng2,B_lat1],[B_lng3,B_lat1],[B_lng1,B_lat2],
			[B_lng2,B_lat2],[B_lng3,B_lat2],[B_lng1,B_lat3],[B_lng2,B_lat3],
			[B_lng3,B_lat3],[B_lng1,B_lat4],[B_lng2,B_lat4],[B_lng3,B_lat4]
		];
		var Comprt_BL_B =[
			[p_BL_B[2],p_BL_B[3],p_BL_B[6],p_BL_B[5]],
			[p_BL_B[4],p_BL_B[5],p_BL_B[8],p_BL_B[7]],
			[p_BL_B[5],p_BL_B[6],p_BL_B[9],p_BL_B[8]],
			[p_BL_B[7],p_BL_B[8],p_BL_B[11],p_BL_B[10]],
			[p_BL_B[8],p_BL_B[9],p_BL_B[12],p_BL_B[11]]
		];

        var C_BL_W = 114.19444,C_BL_E = 114.1969,C_BL_N = 23.12557 ,C_BL_S = 23.12121;
        var C_lng1 = C_BL_W;
        var C_lng2 = C_BL_E;
        var C_lat_diff = C_BL_N - C_BL_S;
        var C_lat1 = C_BL_N;
        var C_lat2 = C_BL_N - C_lat_diff/3;
        var C_lat3 = C_BL_S + C_lat_diff/3;
        var C_lat4 = C_BL_S;
        var block_BL_C = [[C_BL_W, C_BL_N],[C_BL_E, C_BL_N], [C_BL_E, C_BL_S],[C_BL_W, C_BL_S]];
		var p_BL_C =[
			[],
			[C_lng1,C_lat1],[C_lng2,C_lat1],[C_lng1,C_lat2],[C_lng2,C_lat2],
			[C_lng1,C_lat3],[C_lng2,C_lat3],[C_lng1,C_lat4],[C_lng2,C_lat4]
		];
		var Comprt_BL_C =[
			[p_BL_C[1],p_BL_C[2],p_BL_C[4],p_BL_C[3]],
			[p_BL_C[3],p_BL_C[4],p_BL_C[6],p_BL_C[5]],
			[p_BL_C[5],p_BL_C[6],p_BL_C[8],p_BL_C[7]]
		];

        var area_ZJK=[
                    [114.91556, 40.83407], [114.9206, 40.82907], [114.93481, 40.82892], [114.9395, 40.81355],
                    [114.93997, 40.80289], [114.93163, 40.79631], [114.91875, 40.80021], [114.91501,40.80003]
                ];
        var p_ZJK_A =[
            [126.8969, 48.0806 ],//marker coordinate
            [114.9272, 40.82804],[114.92915, 40.82825],[ 114.92839, 40.82753 ],[ 114.92603, 40.8269],//4
            [ 114.93104, 40.82845],[114.92908, 40.82599],[114.92571, 40.82519],[114.929, 40.82898],//8
            [114.93463, 40.82889],[114.9324, 40.828]
        ];
        var Comprt_ZJK_A = [
            [p_ZJK_A[8],p_ZJK_A[9],p_ZJK_A[10],p_ZJK_A[5],p_ZJK_A[2]],
			[p_ZJK_A[2],p_ZJK_A[5],p_ZJK_A[10],p_ZJK_A[6],p_ZJK_A[3]],
            [p_ZJK_A[4],p_ZJK_A[3],p_ZJK_A[6],p_ZJK_A[7]],
            [p_ZJK_A[1],p_ZJK_A[2],p_ZJK_A[3],p_ZJK_A[4]]
        ];

        var area_ZG =[[126.26, 48.12], [127.6, 48.12], [127.6, 47.54], [126.26,47.54]];
        var p_ZG_A =[
            [126.8969, 48.0806 ],//marker coordinate
            [126.88798, 48.09334],[126.89705, 48.08987],[126.91361, 48.08336 ],[126.90547, 48.0781],//4
            [126.90072, 48.071 ],[126.89507, 48.07082],[126.88173, 48.07056],[126.87876, 48.08402],//8
            [126.8867, 48.08545],[126.88931, 48.08438],[126.89092, 48.08386],[126.88134, 48.07228],//12
            [126.90848, 48.07911],[126.88794, 48.08742]//14
        ];
        var Comprt_ZG_A = [
            [p_ZG_A[1],p_ZG_A[2],p_ZG_A[11],p_ZG_A[10],p_ZG_A[9],p_ZG_A[14]],
            [p_ZG_A[2],p_ZG_A[3],p_ZG_A[13],p_ZG_A[4],p_ZG_A[11]],
            [p_ZG_A[8],p_ZG_A[10],p_ZG_A[12]],
            [p_ZG_A[10],p_ZG_A[11],p_ZG_A[6],p_ZG_A[7],p_ZG_A[12]],
            [p_ZG_A[11],p_ZG_A[4],p_ZG_A[5],p_ZG_A[6]]
        ];
        var p_ZG_B =[
            [ 126.44993, 48.04765 ],//marker coordinate
            [ 126.44237, 48.04807],[ 126.44554, 48.0487],[126.45015, 48.0501 ],[ 126.45559, 48.05147 ],//4
            [ 126.44235, 48.04651],[ 126.44607, 48.04612],[126.45114, 48.04537],[126.45737, 48.04428]
        ];
        var Comprt_ZG_B = [
            [p_ZG_B[1],p_ZG_B[2],p_ZG_B[6],p_ZG_B[5]],
            [p_ZG_B[2],p_ZG_B[3],p_ZG_B[7],p_ZG_B[6]],
            [p_ZG_B[3],p_ZG_B[4],p_ZG_B[8],p_ZG_B[7]]
        ];

		var area_XJ =[[87.30045, 43.92108],[87.32227, 43.91261],[87.30791, 43.88506],[87.30213, 43.88718]];
        var p_XJ_A =[
            [],//marker coordinate
            [87.30196, 43.90481],[87.30434, 43.90483],[87.3019, 43.90048],[87.30982, 43.904251],//4
            [87.31095, 43.90375],[87.30879, 43.8999],[87.31384, 43.90316],[87.3119, 43.8996],[ 87.30158, 43.90432]
        ];
        var Comprt_XJ_A = [
            [p_XJ_A[1],p_XJ_A[2],p_XJ_A[3],p_XJ_A[9]],
            [p_XJ_A[2],p_XJ_A[4],p_XJ_A[5],p_XJ_A[6],p_XJ_A[3]],
            [p_XJ_A[5],p_XJ_A[7],p_XJ_A[8],p_XJ_A[6]]
        ];

        var polygon = new Polygon({
            rings: [

                block_BL_A,
                Comprt_BL_A[0],Comprt_BL_A[1],Comprt_BL_A[2],Comprt_BL_A[3],Comprt_BL_A[4],Comprt_BL_A[5],Comprt_BL_A[6],
                block_BL_B,
                Comprt_BL_B[0],Comprt_BL_B[1],Comprt_BL_B[2],Comprt_BL_B[3],Comprt_BL_B[4],
                block_BL_C,
                Comprt_BL_C[0],Comprt_BL_C[1],Comprt_BL_C[2],
                Comprt_ZJK_A[0],Comprt_ZJK_A[1],Comprt_ZJK_A[2],Comprt_ZJK_A[3],
                Comprt_ZG_A[0],Comprt_ZG_A[1],Comprt_ZG_A[2],Comprt_ZG_A[3],Comprt_ZG_A[4],
                Comprt_ZG_B[0],Comprt_ZG_B[1],Comprt_ZG_B[2],
                Comprt_XJ_A[0],Comprt_XJ_A[1],Comprt_XJ_A[2]
            ]
        });
        // 3-2.Create a symbol for rendering the graphic
        var fillSymbol = new SimpleFillSymbol({
            color: [227, 39, 39, 0.2],
            outline: {
                color: [255, 255, 255],
                width: 1
            }
        });
        // 3-3.Add the geometry and symbol to a new graphic
        var polygonGraphic = new Graphic({
            geometry: polygon,
            symbol: fillSymbol
        });




        var polygon_areas = new Polygon({
            rings: [
                area_BL, area_ZJK,area_ZG,area_XJ
            ]
        });
        var fillSymbol_areas = new SimpleFillSymbol({
            color: [39, 39, 227, 0.2],
            outline: {
                color: [255, 255, 255],
                width: 1
            }
        });
        var polygonGraphic_areas = new Graphic({
            geometry: polygon_areas,
            symbol: fillSymbol_areas
        });


        // 1-4.Add the graphic to the view
        mainView.graphics.add(pointGraphic_BL);
        mainView.graphics.add(pointGraphic_ZJK);
        mainView.graphics.add(pointGraphic_ZG);
        mainView.graphics.add(pointGraphic_XJ);

        // 3-4.Add the graphic to the view
        mainView.graphics.add(polygonGraphic);
        mainView.graphics.add(polygonGraphic_areas);




        mainView.then(function() {

        });

        // Create the MapView for overview map
        var mapView = new MapView({
            container: "overviewDiv",
            map: overviewMap
        });

        // Remove the default widgets
        mapView.ui.components = [];

        var extentDiv = dom.byId("extentDiv");

        mapView.then(function() {
            // Update the overview extent whenever the MapView or SceneView extent changes
            mainView.watch("extent", updateOverviewExtent);
            mapView.watch("extent", updateOverviewExtent);

            // Update the minimap overview when the main view becomes stationary
            watchUtils.when(mainView, "stationary", updateOverview);

            function updateOverview() {
                // Animate the MapView to a zoomed-out scale so we get a nice overview.
                // We use the "progress" call back of the goTo promise to update
                // the overview extent while animating
                mapView.goTo({
                    center: mainView.center,
                    scale: mainView.scale * 2 * Math.max(mainView.width /
                        mapView.width,
                        mainView.height / mapView.height)
                });
            }

            function updateOverviewExtent() {
                // Update the overview extent by converting the SceneView extent to the
                // MapView screen coordinates and updating the extentDiv position.
                var extent = mainView.extent;

                var bottomLeft = mapView.toScreen(extent.xmin, extent.ymin);
                var topRight = mapView.toScreen(extent.xmax, extent.ymax);

                extentDiv.style.top = topRight.y + "px";
                extentDiv.style.left = bottomLeft.x + "px";

                extentDiv.style.height = (bottomLeft.y - topRight.y) + "px";
                extentDiv.style.width = (topRight.x - bottomLeft.x) + "px";
            }
        });
        // Create a BasemapGallery widget instance and set
        // its container to a div element

        var basemapGallery = new BasemapGallery({
            view: mainView,
            container: document.createElement("div")
        });

        // Create an Expand instance and set the content
        // property to the DOM node of the basemap gallery widget
        // Use an Esri icon font to represent the content inside
        // of the Expand widget

        var bgExpand = new Expand({
            view: mainView,
            content: basemapGallery.domNode,
            expandIconClass: "esri-icon-basemap"
        });

        // Add the expand instance to the ui

        mainView.ui.add(bgExpand, "top-right");

        on(dojo.query("#Demo_Area_Boluo"), "click", function() {
            mainView.goTo({position: [114.197,23.0752,2000], heading: 0, tilt: 70});
        });
        on(dojo.query("#Demo_Area_Zhangjk"), "click", function() {
            mainView.goTo({position: [114.92863,40.7802,2000], heading: 0, tilt: 70});
        });
        on(dojo.query("#Demo_Area_Zhaoguang"), "click", function() {
            mainView.goTo({position: [126.927,46.4672,50000], heading: 0, tilt: 70});
        });
        on(dojo.query("#Demo_Area_Xinjiang"), "click", function() {
            mainView.goTo({position: [87.3060,43.8646,2000], heading: 0, tilt: 70});
        });

		on(dojo.query("#Demo_Area_Boluo_A"), "click", function() {
            mainView.goTo({position: [114.19452, 23.12866,1000], heading: 0, tilt: 0});
        });
        on(dojo.query("#Demo_Area_Boluo_B"), "click", function() {
            mainView.goTo({position: [ 114.19575, 23.12343,1000], heading: 0, tilt: 0});
        });
        on(dojo.query("#Demo_Area_Boluo_C"), "click", function() {
            mainView.goTo({position: [114.20026, 23.12347,1000], heading: 0, tilt: 0});
        });

        on(dojo.query("#Demo_Area_Zhangjk_A"), "click", function() {
            mainView.goTo({position: [114.92974, 40.82734,2000], heading: 0, tilt: 0});
        });

        on(dojo.query("#Demo_Area_Zhaoguang_A"), "click", function() {
            mainView.goTo({position: [126.89554, 48.0807,4000], heading: 0, tilt: 0});
        });
        on(dojo.query("#Demo_Area_Zhaoguang_B"), "click", function() {
            mainView.goTo({position: [126.45159, 48.04779,4000], heading: 0, tilt: 0});
        });

        on(dojo.query("#Demo_Area_Xinjiang_A"), "click", function() {
            mainView.goTo({position: [87.3060,43.9026,2000], heading: 0, tilt: 0});
        });

        mainView.on('click', function(evt){
           if(evt.mapPoint){
               var x = Math.round(evt.mapPoint.longitude * 100000)/100000;
               var y = Math.round(evt.mapPoint.latitude * 100000)/100000;
               var z = Math.round(evt.mapPoint.z * 100)/100;
               document.getElementById("curcordDiv").innerHTML = '鼠标单击位置：经纬度( ' + x + ', ' + y + ' ), 海拔' + z + 'm';
           }
        });

        istoGround = false;
        on(dojo.query("#toGround"), "click", updateElevation);

        function updateElevation(ev) {

          // Turn ground layers visibility on/off
          mainMap.ground.layers.forEach(function(layer) {
            layer.visible = istoGround;
              if(!istoGround){
                  istoGround = true;
              }else if(istoGround){
                  istoGround = false;
              }else{
                  istoGround = undefined
              }
          });
        }

    });

    </script>

</head>

<body>
    <div id="viewDiv">
    </div>
    {% include 'OptionDiv.html' %}
    <div id="curcordDiv">
        <p>鼠标单击位置：经纬度( ---.----, ---.---- ), 海拔---.--m</p>
    </div>
    <div id="overviewDiv">
        <div id="extentDiv"></div>
    </div>
    {% include 'LIstDiv.html' %}

</body>
</html>