<div id="comprtInfo">
    <h3 class="comprtInfo-content" id="blocktitle">地区XX地块XX区划XX</h3>
    <div class="alert alert-info" id="comprtInfo-status">
    状态:???
    </div>
    <table>
    <tr>
      <td class="comprtInfo-td" id="blockcordN">N:23.xxxxxx </td>
      <td class="comprtInfo-td" id="blockcordS">S:23.yyyyyy </td>
    </tr>
    <tr>
      <td class="comprtInfo-td" id="blockcordW">W:114.xxxxxx </td>
      <td class="comprtInfo-td" id="blockcordE">E:114.yyyyyy </td>
    </tr>
    </table>

    <h6 class="comprtInfo-content" id="blockm2">面积:*****㎡</h6>
    <h6 class="comprtInfo-content" id="blockdate">日期:201x/xx/xx</h6>
    <h6 class="comprtInfo-content" id="blockproduct">作物:作物名</h6>
    <p class="comprtInfo-content" id="blockintro">
        无
    </p>
</div>