html,
body,

#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#nodisviewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: -3;
    opacity: 0.01;
}
#NCviewDiv {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: -3;
    background-color: #31b0d5;
}
#NDVIviewDiv {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background-color: #31b0d5;
}
.esri-ui-top-left.esri-ui-corner{
    left: 300px;
}
.panel-optionBar{
    border-bottom: 1px dotted;
    border-color: #f1f2f2;
    border-radius: 0;
    background-color: transparent;
    color: azure;

}
.panel-optionBar-heading{
    color: #f1f2f2;
    font-size: 16px;
}
.check-box{
    cursor: pointer;
}

#overviewDiv {
    position: absolute;
    left: 312px;
    bottom: 28px;
    width: 360px;
    height: 240px;
    border: 1px solid black;
    z-index: 11;
}

#curcordDiv{
    position: absolute;
    width: 360px;
    height: 20px;
    left: 312px;
    bottom: 268px;
    padding: 2px 10px 2px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    color: #f1f2f2;
    z-index: 11;
}
#extentDiv {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 12;
}

#optionDiv{

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: width .25s;
    display: block;
    z-index: 11;
}
#optionBar{
    width: 300px;
    height: 100vh;
    float: left;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;

}
#optionBar-name{
    width: auto;
    height: auto;
}
.Bar-name{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.4em;
    padding: 15px 20px 15px;
    font-family: Helvetica,"Microsoft YaHei UI Light";
    color: #f1f2f2;
    background: linear-gradient(rgba(241,242,242,0.5), rgba(0,0,0,0));
    border-bottom: 1px dotted #f1f2f2;
}
.small-name{
    color: #f1f2f2;
}

a:link {color:#f1f2f2;}
a:visited {color:#f1f2f2;}
a:hover {color:#f1f2f2;}
a:active {color:#f1f2f2;}

.option-info{
    font-family: "Microsoft YaHei UI";
}
#optionToggle{
    background-color: rgba(0,0,0,.95);
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    height: 70px;
    width: 25px;
    margin-top: 42vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    cursor: pointer;
    float: left;

}
.optionToolBar{
    width: auto;
    height: 70px;
    border-bottom: 1px dotted;
    border-color: #f1f2f2;

}
.optionToolBlock{
    width: 70px;
    height: auto;
    float: left;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #f1f2f2;

}
.optionToolIcon{
    width: 100%;
    height: 30px;
    text-align: center;
    color: inherit;
    font-size: 20px;

}
.optionToolLabel{
    text-align: center;
    height: 20px;
    color: inherit;
}


.ToggleLogoleftArrow{
    background-image: url(../img/chevron_left.svg);
}
.ToggleLogoLayer{
    background-image: url(../img/buffer-white.svg);
}
.ToggleLogorightArrow{
    background-image: url(../img/chevron_right.svg);
}
.ToggleLogoEtc{
    background-image: url(../img/list47.svg);
}

#listDiv{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
        z-index: 11;
}
#listBar{
    width: 300px;
    height: 100vh;
    float: right;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}

#comprtInfo{
    margin: 10px;
    padding: 10px;
    border: dotted 1px #f1f2f2;
    width: auto;
    height: auto;
    color: #f1f2f2;
    font-family: "Microsoft YaHei UI Light";
}
h3.comprtInfo-content{
    margin-top: 0;
    color: #f1f2f2;
}
h6.comprtInfo-content{
    color: #f1f2f2;
}
p.comprtInfo-content{
    color: #f1f2f2;
}
#comprtInfo-status{
    margin-bottom: 10px;
    padding: 0;
    border-radius: 2px;
}
td.comprtInfo-td{
    color: #f1f2f2;
    font-size:x-small;
    padding-right: 5px;
}
.panel-group {
  margin-bottom: 0;
}
.blocklist{

    border-top: dotted 1px #f1f2f2;
}

.blocklist-heading-Area{
    padding: 5px 15px;
    border-bottom: dotted 1px #f1f2f2;
    font-family: "Microsoft YaHei UI Light";
    color: #f1f2f2;
    background-color: rgba(0,0,0,0.8);
    font-size: 16px;
}
.blocklist-heading{
    padding: 5px 15px;
    border-bottom: dotted 1px #f1f2f2;
    font-family: "Microsoft YaHei UI Light";
    color: #f1f2f2;
    font-size: 15px;
}
.blocklist-heading span{
    cursor: pointer;
}
.Blockname{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    border-bottom: dotted 1px #f1f2f2;
    color: #f1f2f2;
    font-size: 14px;
    font-family: "Microsoft YaHei UI Light";
}
#listToggle{
    background-color: rgba(0,0,0,.95);
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    height: 70px;
    width: 25px;
    margin-top: 42vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    cursor: pointer;
    float: right;

}